
canvas {
    height: 500px;
    display: block;
    vertical-align: bottom;
    background: -moz-linear-gradient(left, rgba(74,86,157,0.8) 0%, rgba(75,86,156,0.8) 1%, #07c25ffc 100%);
    background: -webkit-linear-gradient(left, rgba(74,86,157,0.8) 0%,rgba(75,86,156,0.8) 1%,#07c25ffc 100%);
    background: linear-gradient(to right, rgba(74,86,157,0.8) 0%,rgba(104, 112, 204, 0.87) 1%,#07c25ffc 100%);
}
/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

