
    <h1>This is our Location! </h1>

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 500px;  /* The height is 400 pixels */
            width: 50%;  /* The width is the width of the web page */
        }
    </style>




<div id="map"></div> <br/>

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {lat: 	36.862499, lng: 	10.195556};

        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 6, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }

</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_YEA_W0jFfh5mARriGmQU3YJmTIhe71E&callback=initMap">
</script>


</html>
